.table {
  margin: 5rem;
  border-collapse: collapse;
}
table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2rem;
}
img {
  width: 5rem;
}
.check {
  width: 2rem;
}
